:root {
  // Component Spacing
  // (Spacing units use within components)
  --c-01: 3px;
  --c-02: 5px;
  --c-03: 10px;
  --c-04: 15px;
  --c-05: 20px;
  --c-06: 30px;
  --c-07: 40px;
  --c-08: 50px;
  --c-09: 60px;

  // Layout Spacing
  // (Spacing units for layout)
  --l-01: 20px;
  --l-02: 30px;
  --l-03: 40px;
  --l-04: 60px;
  --l-05: 80px;
  --l-06: 120px;
  --l-07: 200px;
}